<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script>
  const alerta = document.getElementById('alerta');  
  if (alerta) {
      setTimeout(() => {
          alerta.style.display = 'none'; 
      }, 3000);
  }
</script>

</body>
</html>